{{> Header}}

<main id="dex-main">
    <h1>Pokedex</h1>
    <section class="dex-grid">
       {{#each pokemon}}
        <a href="/dex/pokemon/{{this.props.id}}" class="dex-pokemon-card">
            <img src="{{this.props.userimageurl}}" alt="{{this.props.name}}" class="dex-pokemon-image">
            <p class="dex-pokemon-name">{{this.props.name}}</p>
        </a>
        {{/each}}
    </section>
</main>



{{> Footer}}
