<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
	<title>{{ title }}</title>
</head>

<body>
	 <header class="pokemon-header">
        <img src="../../images/pokepc.png" alt="PokePC Logo" class="pokeball-logo">
        <nav class="nav-menu">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#meow">Box</a></li>
                <li><a href="#meow">Add Pokemon</a></li>
                <li><a href="#meow">Login</a></li>
            </ul>
        </nav>
    </header>
	<main>
