{{> Header }}

<div class="main-body">
    <h2 style="text-align:center">PokePC</h2>
    <!--><img style="height:200px;"src="../../images/pokepcbanner.png"><!-->
    <p>Welcome To PokePC!</h1>
</div>

{{> Footer }}
