{{> Header }}

<div class="main-body">
    <img style="width:100%;height:400px;margin:10px;"src="../../images/pokepcbanner.png">
    <h2 style="text-align:center">Introducing "PokéPC"!</h2>
    <p style="text-align:center">a personalized Pokemon management web app designed for Pokemon enthusiasts. Whether you're a casual fan of the series or a dedicated pokemon master,<br> PokéPC will provide you with a simplistic platform to manage your Pokemon collection and build your team! <br>This app is designed for:</p>
    <ul style="text-align:center">
        <li>Pokemon Collectors: For those who find their pleasure in catching and collecting all sorts of Pokemon.PokePC acts as a digital storage system to catalog and organize your Pokemon.</li>
        <br>
        <li>Competitive Battlers: Anyone preparing for battles or tournaments can plan and structure their team, adjusting compositions and strategies directly from PokéPC.</li>
        <br>
        <li>Casual Players: Even if you play the games for fun, PokéPC offers a simple way to track and manage the Pokemon you’ve captured throughout your adventures.</li>
        <br>
    </ul>
    <p style="text-align:center">Many existing Pokemon management tools online can be overbearing or lack friendly easy-to-use UIs, making it difficult for players to keep track of their teams.<br> PokePC aims to fill this gap by offering an intuitive platform that simplifies Pokemon management while still providing depth for serious players. <br>With features like team adjustments and details for each Pokemon, PokéPC is the perfect tool for anyone looking to take their Pokemon experience to the next level.</p>
    <br>
</div>

{{> Footer }}
