{{> Header}}

<div class="list-teams-body">
    <h1>All Teams</h1>
{{#each teams}}
    <div class="list-teams-small-grid">
        <label>{{this.teamName}}</label>
        <a href="http://localhost:3000/team/{{this.teamId}}/pokemon">{{this.teamName}} by {{this.email}}</a>
    </div>
{{/each}}
</div>

{{> Footer}}
