{{> Header}}

<div class="list-teams-body">
    <h1>All Teams</h1>
{{#each teams}}
    <div class="list-teams-small-grid">
        <label>{{this.props.name}}</label>
        <a href="http://localhost:3000/team/{{this.props.id}}/pokemon">{{this.props.name}} by</a>
    </div>
{{/each}}
</div>

{{> Footer}}
