{{> Header}}

<div class="login-main">
    <h1>Login</h1>

    <p id="login-error">{{error}}</p>
    <form id="login-form" method="POST" action="/login">
        <div>
            <label for="login-email">Email:</label>
            {{#if hasEmail}}
            <input type="text" id="login-email" name="email" value={{email}}/>
            {{else}}
            <input type="text" id="login-email" name="email"/>
            {{/if}}
        </div>
        <div>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password"/>
        </div>
        <div id="login-remember-container">
            <label for="login-remember" style="margin-right: 10px;">Remember me:</label>
            <input type="checkbox" id="login-remember" name="remember">
        </div>
        <button id="login-form-submit-button">Submit</button>
    </form>
</div>

{{> Footer}}
